.light {
    --color-bg: #fff;
    --color-text: #2c3e50;
    --color-bg-item-menu-activ: #e2124a;
    --color-bg-item-menu-hover: #d7e5f4;
    --color-marker: #4763eb;



     
    --color-text-accent: #adadad;
    
    --color-bg-accent: #2a1f2d;
    --color-primary: #ec134d;
    --color-secondary: #eac234;
    
     
     
}
.dark{
--color-bg: #0b080c;
--color-text: #e0e0e0;
--color-bg-item-menu-activ: #e2124a;
--color-bg-item-menu-hover: #001f3d;
--color-marker: #4763eb;
  
}
 