html,
body {    
    // overflow-wrap: break-word;
    // word-wrap: break-word;           
}
html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
}
.link{
    color: var(--color-marker);
    text-decoration: underline;
}
 
 
 