// html,
// body {
    // overflow-wrap: break-word;
    // word-wrap: break-word;
// }
html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
}
.link {
    color: var(--color-marker);
    text-decoration: underline;
}
/////////////////////////////////////////
.view-description {
    margin-bottom: 25px;
    &__ul {
        margin-bottom: 25px;
        list-style-type: circle;
        padding-left: 18px;
    }
    & p {
        margin-bottom: 10px;
    }
    & ul ul {
        padding-left: 20px;
    }
    & li {
        padding: 2px 0;
    }
}
.view-title {
    margin-bottom: 5px;
    font-style: italic;
    font-weight: bold;
}
////////////////////////////////
