.table-cp {
    border-spacing: 0;
    border-collapse: initial !important;
}

.table-cp th,
.table-cp td {
    padding: 10px;
    vertical-align: middle;
    text-align: left;
    white-space: nowrap;
}

.table-cp th {
    white-space: nowrap !important;
}

.table-cp tr:nth-child(even) td[scope="row"] {
    background-color: var(--utable-scope-row-even-background-color);
}

.table-cp tr:nth-child(odd) td[scope="row"] {
    background-color: var(--utable-scope-row-odd-background-color);
}

.table-cp tr:nth-child(even) {
    background-color: var(--utable-th-even-background-color);
}

.table-cp tr:nth-child(odd) {
    background-color: var(--utable-th-odd-background-color);
}

.table-cp tr:hover {
    background-color: var(--utable-th-hover-background-color);
}

.table-cp tr:hover td[scope=row] {
    background-color: #B5C5C5 !important;
}

.table-cp .spacer {
    display: none;
}

/* Fixed Headers */
.table-cp thead.t-head-fixed {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

.table-cp td[scope="row"],
.table-cp th[scope="row"] {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 1;
}

td[scope="row"]::after,
th[scope="row"]::after {
    content: "";
    position: absolute;
    top: 0;
    right: -4px;
    bottom: 0;
    width: 4px;
    background-color: green;
}

.table-cp thead tr:first-child th[scope="row"] {
    border: 4px solid red;
}

.table-cp thead tr:first-child th {
    border-left: 4px solid red;
    border-top: 4px solid red;
    border-bottom: 4px solid red;
    border-right: none;
}

.table-cp thead tr:first-child th[scope="row"]~th {
    border-left: none;
    border-top: 4px solid red;
    border-bottom: 4px solid red;
    border-right: 4px solid red;
}

.table-cp tr td[scope="row"] {
    border: 4px solid red;
    border-top: none;
}

.table-cp tr td {
    border-left: 4px solid red;

    border-bottom: 4px solid red;
    border-right: none;
}

.table-cp tr td[scope="row"]~td {
    border-left: none;
    border-bottom: 4px solid red;
    border-right: 4px solid red;
}