%gt-esti-pro-displey-light {
    font-family: "GT-Eesti-Pro-Display-light";
    font-size: 17.5px;
    color: #333333;
}
$black80: #333333;
$black30: #b3b3b3;
$orange: #ff9711;
$purple: #6666ff;
$red: #ff0000;
$grey: #e6e6e6;

$zindex: (
    scrim: -1,
    scrim_activ: 1,
    header: 1,
    main_sidebar: 5,
    mobile_menu_btn: 3,

    t_head_fixed: 2,
    scope_row: 1
);
